body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #ffffff;
	background-color: #282828;
}
.page-header {
	color: white;
	text-align: center;
	background-image: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
	color: #4fa49a;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.title {
	margin-top: 0;
	margin-bottom: 0.1rem;
}
.tagline {
	margin-bottom: 2rem;
	font-weight: normal;
}
.main-content :first-child {
	margin-top: 0;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: normal;
	color: #9dc66b;
}
.site-footer {
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: solid 1px #9dc66b;
	text-align: center;
}
.site-footer-credits {
	color: #bdae93;
}

@media screen and (min-width: 64em) {
	.site-footer {
		font-size: 1rem;
	}
	.page-header {
		padding: 8rem 0rem;
	}
	.title {
		font-size: 4rem;
	}
	.tagline {
		font-size: 1.25rem;
	}
	.main-content {
		max-width: 64rem;
		padding: 2rem 6rem;
		margin: 0 auto;
		font-size: 1.1rem;
	}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.site-footer {
		font-size: 1rem;
	}
	.page-header {
		padding: 3rem 0rem;
	}
	.title {
		font-size: 3rem;
	}
	.tagline {
		font-size: 1.15rem;
	}
	.main-content {
		padding: 2rem 4rem;
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 42em) {
	.site-footer {
		font-size: 0.9rem;
	}
	.page-header {
		padding: 2rem 0rem;
	}
	.title {
		font-size: 2.5rem;
	}
	.tagline {
		font-size: 1rem;
	}
	.main-content {
		padding: 2rem 1rem;
		font-size: 1rem;
	}
}
